@import "variables";
@import "mixins";

//making hero section cards responsive

.card-container {
  display: $main-layout;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-around;
  }
}
//used in different components
.card {
  @include card-base-styles;
  max-width: 18.75em;
  margin: 0 auto;
  padding: $containers-main-padding;

  .card-image {
    width: 100%;
    border-radius: $small-padding-margin;
  }

  .card-content {
    padding: $containers-main-padding;
  }

  .card-button {
    @include button-styles;
  }
}
