@font-face {
  font-family: "LINESeedSans";
  src: url("~assets/fonts/LINESeedSans_W_He.woff2") format("woff2"),
    url("~assets/fonts/LINESeedSans_W_Bd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
