@import "variables";
@import "mixins";

.footer {
  background-color: $green-1;
  color: $light;
  padding: 1em;
  text-align: $main-position;
  margin-top: 1em;

  .footer-content {
    @include centerFlexbox;

    flex-direction: column;
    align-items: $main-position;

    p {
      margin: 0;
    }
  }
}

.social-media {
  display: $main-layout;
}

.social-media img {
  max-width: 20px;
  padding: $small-padding-margin;
  transition: $transition;
}

.social-media img:hover {
  transform: translateY(-5px);
}
