@import "variables";

.footer {
  background-color: $green-1;
  color: $light;
  padding: 1em;
  text-align: center;
  margin-top: 1em;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
    }
  }
}

.social-media {
  display: flex;
}

.social-media img {
  max-width: 20px;
  padding: $small-padding-margin;
  transition: $transition;
}

.social-media img:hover {
  transform: translateY(-5px);
}
