@import "variables";

// Mixin for flexbox centering
@mixin centerFlexbox() {
  display: $main-layout;
  justify-content: $main-position;
}

// Mixin for image gallery styles
@mixin image-gallery-styles {
  @include centerFlexbox;
  gap: $small-padding-margin;
  box-shadow: $box-shadow;

  .performer-image,
  .teacher-image {
    display: $main-layout;
    flex-wrap: wrap;
    justify-content: $main-position;
    width: 100%;

    .image-container {
      width: calc(25% - #{$small-padding-margin * 2});
      margin: $small-padding-margin;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: $box-shadow;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .performer-image,
    .teacher-image {
      .image-container {
        width: 100%;
        margin: $small-padding-margin;
      }
    }
  }
}

// Mixin for button styles
@mixin button-styles {
  background-color: $purple;
  color: $light;
  border: none;
  padding: 0.75em 1.5em;
  cursor: pointer;
  border-radius: $small-padding-margin;
  font-family: "LINESeedSans", sans-serif;
  transition: background-color $transition;

  &:hover {
    background-color: darken($purple, 10%);
  }
}

// Mixin for card base styles
@mixin card-base-styles {
  background-color: $light;
  border: 1px solid $beige;
  border-radius: $small-padding-margin;
  box-shadow: $box-shadow;
  text-align: $main-position;
}
