//colors
$purple: #791a49;
$green-1: #0c6344;
$green-2: #0d8261;
$green-3: #5d7a62;
$beige: #9d8a7b;
$light: #fff;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

//animation
$transition: 0.3s ease;

//spacing and positioning
$containers-main-padding: 1.25em;
$small-padding-margin: 0.5em;
$main-position: center;
$main-layout: flex;

//media queries
$breakpoint-md: 768px;
